body{
	margin: 0;
	font-family: "ubuntu", arial, sans-serif;
	height: 100em;
}
a{
	text-decoration: none;
}
/*navbar*/
.navbar-container{
	display: flex;
	justify-content: center;
	margin: 1.2em 0 1.5em 0;
	width: 100%;
}
.navbar-flex{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 75%;
}
.bdr{
	border: 1px solid hidden; 
	box-shadow: 0 4px 9px 0 #d4d4d4, 0 0 0 white;
}
.navbar-item{
	padding: 0.75em;
}
.navbar-item .nav-link{
	color: #202E24;
	font-size: 1.25em;
}
.navbar-item-1{
	margin-right: auto;
}
.navbar-item-1 .nav-link-1{
	font-family: "Sofia", sans-serif;
	color: #347A2A;
}
/**/

/*section 1*/
.sec-container{
	display: flex;
}
.bg-image{
	background-image: url("orchid3.jpg");
	width: 1600px;
	height: 600px;
	background-repeat: no-repeat;
	background-position: top;
}
.sec-grid{
	display: grid;
	grid-template-columns: 900px 700px;
	grid-template-rows: 600px;
}
.item-2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.item-2 .sub-item-5{
	grid-area: 2 / 2 / span 2 / span 2;
	padding: 5%;
	margin: 0 0 0 2em;
	width: 18em;
	height: 14em;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 1em 1em 1em 1em;
	box-shadow: 6px 6px 10px 4px #d4d4d4;
	color: #202E24;
}
.item-2 .sub-item-5 h2{
	margin: 0;
}
.item-2 .sub-item-5 p{
	margin: 1.5em 1em 2em 0;
	color: #347A2A;
}
.item-2 .sub-item-5 form button{
	display: inline-block;
	border-radius: 25px;
	border: 0 solid #347A2A;
	outline: none;
	background-color: #347A2A;
	color: #EBE8BE;
	width: 10em;
	padding: 9px;
	font-family: "Ubuntu", arial, sans-serif;
	font-size: 0.9em;
}
/**/