body{
	margin: 0;
	font-family: "ubuntu", arial, sans-serif;
	height: 200em;
}
a{
	text-decoration: none;
}
/*navbar*/
.navbar-container{
	display: flex;
	justify-content: center;
	margin: 1.2em 0 1.5em 0;
	width: 100%;
}
.navbar-flex{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	width: 75%;
}
.bdr{
	border: 1px solid hidden; 
	box-shadow: 0 4px 9px 0 #d4d4d4, 0 0 0 white;
}
.navbar-item{
	padding: 0.75em;
}
.navbar-item .nav-link{
	color: #202E24;
	font-size: 1.25em;
}
.navbar-item-1{
	margin-right: auto;
}
.navbar-item-1 .nav-link-1{
	font-family: "Sofia", sans-serif;
	color: #347A2A;
}
/**/

/*section 1*/
.sec-container{
	display: flex;
}
.bg-image{
	background-image: url("orchid3.jpg");
	width: 100%;
	height: 600px;
	background-repeat: no-repeat;
	background-position: top;
}
.sec-grid{
	display: grid;
	grid-template-columns: 900px 700px;
	grid-template-rows: 600px;
}
.item-2{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}
.item-2 .sub-item-5{
	grid-area: 2 / 2 / span 2 / span 2;
	padding: 5%;
	margin: 0 0 0 2em;
	width: 18em;
	height: 14em;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 1em 1em 1em 1em;
	box-shadow: 6px 6px 10px 4px #d4d4d4;
	color: #202E24;
}
.item-2 .sub-item-5 h2{
	margin: 0;
}
.item-2 .sub-item-5 p{
	margin: 1.5em 1em 2em 0;
	color: #347A2A;
}
.item-2 .sub-item-5 .cta{
	display: inline-block;
	border-radius: 25px;
	border: 0 solid #347A2A;
	outline: none;
	background-color: #347A2A;
	color: #EBE8BE;
	width: 10em;
	padding: 9px;
	font-family: "Ubuntu", arial, sans-serif;
	font-size: 0.9em;
}
/**/

/*section 2 tentang anggrek*/
.about-container{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(3, 1fr);
	width: auto;
	height: auto;
	margin: 5rem 0;
	grid-row-gap: 50px;
}
.about-container .item-1{
	grid-column-start: 2;
	grid-column-end: 8;
}
.about-container .item-1 .item-flex{
	display: flex;
	flex-direction: row;
}
.about-container .item-1 .item-flex img{
	width: 200px;
	border-radius: 20px;
	margin-right: 20px
}
.about-container .item-1 .item-flex div{
	display: block;
	border-left: 5px solid #347A2A;
	padding-left: 10px;
}
.about-container .item-2{
	display: block;
	grid-column-start: 2;
	grid-column-end: 8;
}
.about-container .item-2 .item-flex{
	display: flex;
	flex-direction: row;
}
.about-container .item-2 .item-flex img{
	width: 200px;
	height: 130px;
	border-radius: 20px;
	margin-left: 20px;
}
.about-container .item-2 .item-flex div{
	display: block;
	border-right: 5px solid #347A2A;
	padding-right: 10px;
}
.about-container .item-3{
	display: block;
	grid-column-start: 2;
	grid-column-end: 8;
}
.about-container .item-3 .item-flex{
	display: flex;
	flex-direction: row;
}
.about-container .item-3 .item-flex img{
	width: 250px;
	height: 130px;
	margin-right: 20px;
	border-radius: 20px;
}
.about-container .item-3 .item-flex div{
	display: block;
	border-left: 5px solid #347A2A;
	padding-left: 10px;
}
.about-container .about-item .item-flex .cta{
	border: 1px solid #347A2A;
	border-radius: 20px;
	outline: none;
	background-color: #347A2A;
	padding: 7px;
	width: 8.5rem;
	text-align: center;
}
.about-container .about-item .item-flex .cta a{
	font-size: 0.9rem;
	color: #EBE8BE;
}
/**/

/*section 3*/
.sec3-container{
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(to right, #202E24 ,#347A2A);
	width: 100%;
	height: 400px;
}
.sec3-container .item-flex{
	display: block;
	color: white;
	width: 75%;
}
.sec3-container .item-flex .cta{
	color: #EBE8BE;
}
.sec3-container .item-flex .cta:hover{
	border-bottom: 1px solid #EBE8BE;
}
/**/